.image-carousel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
}

.image-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  flex-wrap: wrap;
}

.image-list-item textarea {
  width:100%;
  resize: vertical;
  overflow-wrap: break-word;
  border: 1px solid #ccc;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.carousel-container {
  width: 100%;
  margin-top: 20px;
}

.image-carousel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.image-list-item.selected {
  border: 1px solid #007bff;
  background-color: #e7f3ff;
}

.image-carousel-buttons {
  display: flex;
  gap: 10px;
}

.image-description {
  text-align: center;
  margin-top: 10px;
}

.image-description p {
  margin: 5px 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  gap: 10px;
}

.image-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
  width: calc(100% - 100px);
}

.img-container {
  width: 150px;
}

.carousel-image-container {
  max-width: 150px;
  max-height: 100px;
  overflow: hidden;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
}

.carousel-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-image-container .image-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff;
  padding: 5px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.carousel-image-container:hover .image-description {
  white-space: initial;
  overflow: initial;
  text-overflow: initial;
}

.carousel-image {

  height: auto;
}

.slick-slide {
  transition: transform 0.8s ease-in-out;
  margin: 0 10px;
}

.slick-slide img {
  display: block;

  height: auto;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: center;
}

@media (max-width: 320px) {
  .sidebar {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .image-list-item {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .button-container {
    flex: 0 1 auto;
    margin-left: auto;
  }
}
